<form action="/home/upload" method="post" enctype="multipart/form-data">
  <label for="image">Image:</label>
  <input type="file" name="image" accept="image/*" id="image"><br>
    <div id="image_preview">
        <img src="#"  width="100px" height="100px" />
        <br />
        <a href="#">Remove</a>
    </div>
  <input type="submit">
</form>