<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
          <img src="nom/img/profile.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-3">
    <a href="#" class="thumbnail">
      <img src="nom/img/profile.jpg" alt="...">
    </a>
  </div>
  ...
</div>