<footer id="footer">
    Copyright &copy; 2016 TEAPLEMANAGER All rights reserved
    
    <ul class="f-menu">
        <li><a href="https://www.facebook.com/DGUlion/?hc_ref=SEARCH">동대X멋사</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100003601997386&fref=pb&hc_location=friends_tab&pnref=friends.all">김보미</a></li>
        <li><a href="https://www.facebook.com/jom11333333">노종원</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100003531916872&fref=pb&hc_location=friends_tab&pnref=friends.all">유선우</a></li>
        <li><a href="https://www.facebook.com/yurim.jo.35">조유림</a></li>
        <li><a href="https://www.facebook.com/dabin0628?fref=pb&hc_location=friends_tab&pnref=friends.all">조다빈</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100008601962912&fref=pb&hc_location=friends_tab&pnref=friends.all">정순우</a></li>
        <li><a href="http://cityfood.co.kr/h.php?id=32705">Thanks to 전사랑</a></li>
    </ul>
</footer>

<!-- Page Loader <--></-->
<div class="page-loader">
    <div class="preloader pl-xxl">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
    </div>
</div>