<!DOCTYPE html>
<html>
<head>
  <title>팀플 매니저</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="icon" href="https://s3.ap-northeast-2.amazonaws.com/timple/use/cute_leo.png">
</head>
<body>

<%= yield %>

</body>
</html>
